/.vscode
/AGENTS.md
/TEC_FILE.m
/TEC_FILE_BASE.m
/TEC_FILE_LOG.m
/TEC_ZONE.m
/TEC_ZONE_BASE.m
/TEC_ZONE_LOG.m
/__pycache__
/data_300.mat
/data_types.plt
/echo_full.plt
/echo_none.plt
/getting_start.m
/multi_zone.plt
/s2i.m
/skip_test.plt
/t_all.plt
/test_3d.plt*.plt
*.mat
*.info
test_simple_api.py
simple_api_demo.plt
